/* Para facilitarme la vida y optimizar los estilos */
/* ################# Otros ###################### */
/* body{
    font-family: 'Inter', sans-serif !important;
} */

.debug{
    border-style: solid;
    border-color: black;
}

.frame{
    background-color: #f5f5f5;
    border-radius: 13px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.enFocus:focus{
    outline: none; 
    border: 2px solid;
/*     border-color: ; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* old.principal.css */
/* input{
    font-family: 'Inter', sans-serif;
}

input::placeholder{
    font-family: 'Inter', sans-serif;
}

input:focus, textarea:focus {
    font-family: 'Inter', sans-serif;
    outline: none; 
    border: 2px solid;
  /*     border-color: ; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

/* a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
} */

.centrado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 0; /* Cambia left a 0 para que comience desde el borde izquierdo */
    right: 0; /* Cambia right a 0 para que termine en el borde derecho */
    padding: 5px;
}

.izquierda, .central, .derecha {
    flex: 1; /* Todos los elementos ocupan espacio igualmente */
}
.izquierda{
    text-align: left;
    padding-left: 5px;
}
.derecha{
    padding-right: 5px;
    text-align: right;
}
.central{
    text-align: center; /* Alinea el texto al centro */
    margin: 0; /* Elimina el margen para que no haya espacio adicional */
}

.botonUniversal{
    font-family: 'Staatliches', sans-serif;
    text-align: center;
    float: none;
    margin-top: 20px;
/*     background-color: #4A68A0; */
    color: white;
    border: none;
    font-size: 18px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.botonUniversal:hover{
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* ############################################# */


/* ################# Animaciones ############### */
.hovShadowPadd{ transition: 0.3s; }
.hovShadowPadd:hover{
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* ############################################# */

/* ################# Sombras #################### */
.shadowAll{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* ############################################# */



/* ################# Fuentes #################### */
.fuenteH1{ font-family: 'Staatliches', sans-serif; }
.fuenteTexto{ font-family: 'Inter', sans-serif; }
/* ############################################# */



/* ################# Colores #################### */
.colorPrincipalBg{ background-color: #4A68A0; }
.colorPrincipalTx{ color: #4A68A0; }

.colorSecundarioBg{ background-color: #f5f5f5; }
.colorSecundarioTx{ color: #f5f5f5; }

.colorTextoTx{ background-color: #333333; }
.colorTextoBg{ background-color: #333333; }
/* ############################################# */

/* ############### Head/Foot ################### */
/* header{
    padding-bottom: 42px;
    padding-top: 10px;
    border-color: black;
    color: white;
    background-color: #4A68A0;
    margin-left: 22px;
    margin-right: 22px;
} */

/* .menu-links{
    margin-top: 10px;
    margin-right: 10px; 
    float: left;
} */

/* h1{ 
    font-family: 'Staatliches', sans-serif; 
    margin-top: 0;
    padding: 0;
    margin-right: 10px;
}

.menu-hamburguesa{
    border-style: none;
    background-color: transparent;
    padding-top: 1px;
    margin-left: 0;
    float: left;
}

.titulo{
    float: left;
    margin-left: 15px;
}

.logout{
    padding-top: 10px;
    float: right;
}

footer {
    font-family:'Staatliches', sans-serif;
    color: white;
    background-color: #4A68A0;
    border-color: black;
    bottom: 0;
} */
/* ############################################# */
